<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Brand Logo -->
  <a routerLink="/admin/dashboard" class="brand-link">
    <img src="/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">FoodZen</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Search Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Menu -->
    <nav class="mt-2">

      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a routerLink="/admin/dashboard" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-fw fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <div class="sidebar-heading">
          Main
        </div>

        <li class="nav-item">
          <a routerLink="/admin/recipes" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-fw fa-hamburger"></i>
            <p>
              Recipes
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/admin/ingredients" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-fw fa-pepper-hot"></i>
            <p>
              Ingredients
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
          System
        </div>

        <li class="nav-item">
          <a routerLink="/admin/settings" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-fw fa-cog"></i>
            <p>
              Settings
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/admin/users" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-fw fa-users"></i>
            <p>
              Users
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/admin/users" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-fw fa-sign-out-alt"></i>
            <p>
              Logout
            </p>
          </a>
        </li>

      </ul>

    </nav>

  </div>

</aside>
